<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal for @mdo</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= simple_form_for @invitation do |f| %>

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Cycle with a new customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= f.input :email %>
        <%= f.input :message %>
        <%= f.input :cycle %>
      </div>
      <div class="modal-footer">
        <%= f.submit "SEND INVITATION" %>
      </div>

      <% end %>
    </div>
  </div>
</div>
